.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px; /* add some margin to the bottom to separate it from the CardList */
}

.search-bar input[type="text"] {
  text-align: left;
  margin-right: 10px;
}

.app {
  text-align: left;
}

.main-page {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.header {
  background-color: white;
  text-align: left;
  font-size: 30px;
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}
